.header {
    background: #ffffff;
    min-height: 128px;
}

.header .logo {
    display: inline-block;
    margin-top: 16px;
}

.header .first-row{
    margin-top: 29px;
    background-color: #EBEBEB;

}

.header input{
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header .dropdown-menu {
    margin-top: 33px;
    width: 100%;
}

.header .social-link {
    padding: 0;
    margin-top: 33px;
}

.header .social-link a {
    display: inline-block;
    float: right;
    padding-left: 12px;
}

.header .social-link a:last-of-type {
    padding-left: 0px;
}

.header ul.primary-menu {
    list-style: none;
    float: right;
    line-height: 44px;
    z-index: 9999;
    margin-bottom: 0px;
}
.header ul.primary-menu li {
    display: inline-block;    
    position: relative;
    float: left;
    z-index: 9999;
}

.header ul.primary-menu li a {
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    line-height: 24px;
    position: relative;
}

.header ul.primary-menu li.parent a {
    padding: 10px 36px 10px 20px;
}

.header ul.primary-menu li.parent ul li a {
    padding: 10px 20px 10px 20px;
}

.header ul.primary-menu li a .dropdown-arrow {
    background: url(../images/arrow-select-arrow.png) no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    right: 16px;
    top: 19px;
}

.header ul.primary-menu ul li a {
    text-transform: none;
    font-weight: normal;
}

.header ul.primary-menu ul li {
    opacity: 0.8;
    background-color: rgb( 0, 0, 0 );
    width: 180px;
}

.header ul.primary-menu ul li:hover {
    opacity: 1.0;
    background-color: rgb( 0, 0, 0 );
}

.header ul.primary-menu li.current-menu-item, .header ul.primary-menu li:hover {
    background-color: rgb( 91, 91, 91 );    
}

.header ul.primary-menu li.current-menu-item a, .header ul.primary-menu li:hover a {
    color: #ffffff;
}

.header ul.primary-menu li.current-menu-item a .dropdown-arrow, .header ul.primary-menu li:hover a .dropdown-arrow {
    background: url(../images/arrow-menu-white.png) no-repeat;
}

.header ul.primary-menu ul {
    padding-left: 0px;
    position: absolute; 
    display: none; 
    margin: 0px;    
}

.header ul.primary-menu li:hover ul {
    display: block;
}

.no-margin-bottom { 
    margin-bottom: 0px;
}

.huge_it_slideshow_dots_thumbnails_2 {
    bottom: 3px;
    top: initial !important;
}

.huge_it_slideshow_dots_thumbnails_2 div {
    margin: 5px !important;
}

.search-box {
    border: none;
    background-color: #ededed;
    padding-left: 15px;
    height: 34px;
}

.product-list-input {
    border: none;
    height: 34px;
}

.product-list-input select {
    background: transparent;
    border: none;
    outline: none;
    height: 34px;
    width: calc(100% - 4px);
}

.product-list-input .dropdown-arrow {
    background: url(../images/arrow-select-arrow.png);
    width: 9px;
    height: 5px;
    position: absolute;
    right: 49px;
    top: 15px;
}

.product-list-input select:required:invalid {
    color: #999999;
}
.product-list-input select option[value=""][disabled] {
    display: none;
}
.product-list-input select option {
    color: black;
}

.product-list-input select optgroup {
    color: #000;
    font-weight: bold;
    font-style: italic;
}

.product-list-input select optgroup option {
    font-style: normal;
}

.submit-search-btn {
    background: url(../images/search-btn.png);
    width: 37px;
    height: 34px;
    position: absolute;
    right: 0px;
    border: none;
    outline: none;
}

.product-list-input input{
    border: none;
    background-color: #EBEBEB;
    border-radius: 0px;
    height: 34px;
}

.product-list-input .product-devider {
    background: url(../images/devider.png);
    display: block;
    width: 1px;
    height: 19px;
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 9999;
}

.dropdown .caret{
    color: #cdcdcd;
}

.search-btn {
    color: #ffffff;
    background-color: #D6D6D6;
    text-align: center;
    border-radius: 0px;
    border: none;
}

.product-basket{
    margin-top: 29px;
    height: 35px;
    background-color: #fff;
    border: 1px solid rgb( 214, 214, 214 );
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 7px;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.header .navbar{
    height: 42px;
    background: transparent;
    border: none;
    border-top: 1px solid #CCCCCC;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.header .navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.header .navbar {min-height:42px !important}
.header .navbar .container-fluid {padding-left: 0px !important}
.header .navbar .navbar-collapse {padding-left: 0px !important}
.header .navbar-right > li > a {padding: 2px}