.header {
    background: #ffffff;
    min-height: 128px;
}

.header .logo {
    display: inline-block;
    margin-top: 16px;
}

.header .first-row{
    margin-top: 29px;
    background-color: #EBEBEB;

}

.header input{
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header .dropdown-menu {
    margin-top: 33px;
    width: 100%;
}

.header .social-link {
    display: inline-block;
    float: right;
    margin-top: 6px;
}

.header .social-link-container {
    margin-top: 29px;
}

.product-basket {    
    height: 35px;
    background-color: #fff;
    border: 1px solid rgb( 214, 214, 214 );
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 7px 12px 7px 12px;
    text-align: center;
    display: inline-block;
    float: left;
}

.header .social-link a {
    display: inline-block;
    float: right;
    padding-left: 14px;
}

.header .social-link a:last-of-type {
    padding-left: 0px;
}

.header ul.primary-menu {
    list-style: none;
    float: right;
    line-height: 44px;
    z-index: 9999;
    margin-bottom: 0px;
}
.header ul.primary-menu li {
    display: inline-block;    
    position: relative;
    float: left;
    z-index: 9999;
}

.header ul.primary-menu li a {
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    line-height: 24px;
    position: relative;
}

.header ul.primary-menu li.parent a {
    padding: 10px 36px 10px 20px;
}

.header ul.primary-menu li.parent ul li a {
    padding: 10px 20px 10px 20px;
}

.header ul.primary-menu li a .dropdown-arrow {
    background: url(../images/arrow-select-arrow.png) no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    right: 16px;
    top: 19px;
}

.header ul.primary-menu ul li a {
    text-transform: none;
    font-weight: normal;
}

.header ul.primary-menu ul li {
    opacity: 0.8;
    background-color: rgb( 0, 0, 0 );
    width: 180px;
    border-bottom: 1px solid #363c40;
}

.header ul.primary-menu ul li:last-of-type {
    border-bottom: none;
}

.relative {
    position: relative;
}

.absolute-container {
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
}

.slider-devider {
    opacity: 0.2;
    background-color: #000;
    height: 5px;
    margin: 0;
    border: none;
    outline: none;
}

.no-padding-left {
    padding-left: 0px;
}

.header ul.primary-menu ul li:hover {
    opacity: 1.0;
    background-color: rgb( 0, 0, 0 );
}

.header ul.primary-menu li.current-menu-item, .header ul.primary-menu li:hover {
    background-color: rgb( 91, 91, 91 );    
}

.header ul.primary-menu li.current-menu-item a, .header ul.primary-menu li:hover a {
    color: #ffffff;
}

.header ul.primary-menu li.current-menu-item a .dropdown-arrow, .header ul.primary-menu li:hover a .dropdown-arrow {
    background: url(../images/arrow-menu-white.png) no-repeat;
}

.header ul.primary-menu ul {
    padding-left: 0px;
    position: absolute; 
    display: none; 
    margin: 0px;    
}

.header ul.primary-menu li:hover ul {
    display: block;
}

.no-margin-bottom { 
    margin-bottom: 0px;
}

.huge_it_slideshow_dots_thumbnails_2 {
    bottom: 3px;
    top: initial !important;
}

.huge_it_slideshow_dots_thumbnails_2 div {
    margin: 5px !important;
}

.search-box {
    border: none;
    background-color: #ededed;
    padding-left: 15px;
    height: 34px;
}

.product-list-input {
    border: none;
    height: 34px;
}

.product-list-input select {
    background: transparent;
    border: none;
    outline: none;
    height: 34px;
    width: calc(100% - 4px);
}

.product-list-input .dropdown-arrow {
    background: url(../images/arrow-select-arrow.png) no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    right: 49px;
    top: 15px;
}

.product-list-input select:required:invalid {
    color: #999999;
}
.product-list-input select option[value=""][disabled] {
    display: none;
}
.product-list-input select option {
    color: black;
}

.product-list-input select optgroup {
    color: #000;
    font-weight: bold;
    font-style: italic;
}

.product-list-input select optgroup option {
    font-style: normal;
}

.submit-search-btn {
    background: url(../images/search-btn.png) no-repeat;
    width: 37px;
    height: 34px;
    position: absolute;
    right: 0px;
    border: none;
    outline: none;
}

.product-list-input input{
    border: none;
    background-color: #EBEBEB;
    border-radius: 0px;
    height: 34px;
}

.product-list-input .product-devider {
    background: url(../images/devider.png) no-repeat;
    display: block;
    width: 1px;
    height: 19px;
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 9999;
}

.search-btn {
    color: #ffffff;
    background-color: #D6D6D6;
    text-align: center;
    border-radius: 0px;
    border: none;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.meunu-sidebar ul,
.meunu-sidebar ul li,
.meunu-sidebar ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.meunu-sidebar ul {
    position: relative;
    z-index: 500;
    float: left;
}

.meunu-sidebar ul li {
    float: left;
    vertical-align: middle;
    position: relative;
}

.meunu-sidebar ul li.hover,
.meunu-sidebar ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
}

.meunu-sidebar ul li .dropdown-arrow {
    background: url(../images/arrow-gray-right.png) no-repeat;
    width: 5px;
    height: 9px;
    position: absolute;
    right: 16px;
    top: 15px;
}

.meunu-sidebar ul li:hover .dropdown-arrow {
    background: url(../images/arrow-white-right.png) no-repeat;
}

.meunu-sidebar ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 520;
    width: 100%;
}

.meunu-sidebar ul ul li { 
    float: none; 
}

.meunu-sidebar ul ul ul {
    top: 0;
    right: 0;
}

.meunu-sidebar ul li:hover > ul { 
    visibility: visible; 
}

.meunu-sidebar ul ul {
    top: 0;
    left: 100%;
}

.meunu-sidebar ul li { 
    float: none; 
    border-bottom: 1px solid #363c40;
}
.meunu-sidebar ul li:last-of-type {
    border-bottom: none;
}

.main-slider {
    overflow: hidden;
}

.no-height {
    height: 0px;
}

.meunu-sidebar {
    padding: 0;
    margin: 0;
    margin-top: -5px;
    border: 0;
    position: relative;
    min-height: 550px;
}
	
.meunu-sidebar:before {
    z-index: -1;
    content: '';
    position: absolute;
    opacity: 0.8;
    width: 100%;
    min-height: 550px;
    background: #000;	
}

.meunu-sidebar a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    padding: 11px 0px 11px 22px;
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
}

.meunu-sidebar > ul { 
    width: 100%; 
}

.meunu-sidebar ul ul { 
    width: 100%; 
}

.meunu-sidebar > ul > li > a {
    color: #ffffff;
}

.meunu-sidebar > ul > li > a:hover { 
    color: #ffffff; 
}

.meunu-sidebar ul li:hover a { 
    opacity: 1.0;
    background: #000;
}

.meunu-sidebar ul li ul li { 
    opacity: 0.8;
    background: #000;
}

.meunu-sidebar ul li ul li:hover { 
    opacity: 1.0;
    background: #000;
}

.meunu-sidebar li { 
    position: relative; 
}

.meunu-sidebar ul ul a { 
    color: #ffffff; 
}

.meunu-sidebar ul ul a:hover { 
    color: #ffffff; 
}

.meunu-sidebar ul ul li { 
    border-bottom: 1px solid #363c40;
}

.meunu-sidebar ul ul li:hover > a {
    background: #000;
    color: #ffffff;
}