.why-ceramics {
    background: #fff;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-list-title {
    background: #fff;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.status-block-content {
    background: url(../images/status-bg.png);
    padding-top: 10px;
}

.new-product-sticker {
    position: absolute;
    background: #000000;
    color: #FFF;
    padding: 6px 8px 6px 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    top: 9px;
    right: -7px;
}

.about-us-home {
    height: 450px;
    margin-top: 76px;
}

.arrow-down-sticker {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: #6B6A65 transparent transparent transparent;
    position: absolute;
    top: 33px;
    right: -6.5px;
}

.about-us-content {
    padding-left: 50px;
    padding-top: 90px;
}

.about-us-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    padding-bottom: 22px;
}

.about-us-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 23px;
}

.hover-product-zoom {
    visibility: hidden;
    background: url(../images/hover-product-zoom.png) no-repeat; 
    width: 24px;
    height: 24px;
    box-shadow: 3px 5.196px 7px 0px rgba( 0, 0, 0, 0.38 );
    -moz-box-shadow: 3px 5.196px 7px 0px rgba( 0, 0, 0, 0.38 );
    -webkit-box-shadow: 3px 5.196px 7px 0px rgba( 0, 0, 0, 0.38 );
    position: absolute;
    right: 11px;
    top: -34px;
}

.product-list-item {
    position: relative;
    text-align: center;
    display: block;
    border: 1px solid #e2e2e2;
    text-decoration: none;    
}

.product-list-container .single-product {
    padding-bottom: 20px;
}

.product-list-item:hover, .product-list-item:active {
    text-decoration: none;
    box-shadow: 3px 3px 16px rgba( 0, 0, 0, 0.25 );
    -moz-box-shadow: 3px 3px 16px rgba( 0, 0, 0, 0.25 );
    -webkit-box-shadow: 3px 3px 16px rgba( 0, 0, 0, 0.25 );
}

.status-block-content .status-title-line {
    background: #7f7f7f;
    display: inline-block;
    width: 47px;
    vertical-align: top;
    height: 1px;
    margin-top: 6px;
}

.status-block-content .status-excerpt {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #d8d8d8;
}

.status-block-content .status-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.status-block-content .status-link a {
    color: #959595;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.status-block-content .status-link a:hover {
    text-decoration: none;
}

.status-block-content .status-link {
    line-height: 43px;
}
.link-arrow {
    background: url(../images/link-arrow.png) no-repeat;
    width: 5px;
    height: 9px;   
    display: inline-block;
    margin-left: 6px;
}

.product-list-item:hover .hover-product-zoom, .product-list-item:active .hover-product-zoom {
    visibility: visible;
}

.product-list-item img {
    width: 200px;
    height: 150px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.product-list-item .product-detail h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.product-list-item .product-detail .sku-product-list {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.product-list-item .product-detail {
    border-top: 1px solid #e2e2e2;
    background: #f2f2f2;
    padding-top: 6px;
    padding-bottom: 9px;
    position: relative;
}

.why-ceramics-data {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px;
    background: url(../images/why-ceramics-bg.png);
    text-align: center;
}

.why-ceramics-data .counter-number {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 41px;
    color: #fff;
    display: inline-block;
    padding: 16px 9px 16px 9px;
    border: 2px solid #444444;
    font-weight: 300;
    min-width: 150px;
}

.why-ceramics-data .counter-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    padding-top: 22px;
    padding-bottom: 7px
}

.why-ceramics-data .counter-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #cccccc;
    line-height: 20px;
    padding: 0px 7% 15px 7%;
}

.contentblock-title {
    margin-left: 20px;
    margin-right: 20px;
}
.contentblock-title .normal-title, .contentblock-title .bold-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 0px;
}

.contentblock-title .normal-title {
    font-weight: 600;
}

.contentblock-title .bold-title {
    font-weight: 800;
}

.separate-horizontal-line {
    width: 77px;
    height: 1px;
    background: #b2b2b2;
    display: inline-block;
    float: left;
}

.contentblock-title {
    display: inline-block;
    float: left;
}


/*==========  Mobile First Method  ==========*/
/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {

}
