.why-ceramics, .project-list, .news-list {
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.why-ceramics {    
    padding-top: 43px;
    padding-bottom: 43px;    
}

.project-list {    
    padding-top: 55px;
    padding-bottom: 55px;
}

.news-list {    
    padding-top: 62px;
    padding-bottom: 53px;
    background: #ebebeb;
}

.news-list-wrap {
    background: #ebebeb;
    padding-bottom: 105px;
}

.slick-dots li button:before {
    font-size: 10px;
}
.slick-dots li { 
    margin: 0px; 
}

.news-block img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border: 1px solid #e5e5e5;
}

#news-carousel {
    width: 100% !important;
    margin: 0 auto !important;
}
.news-block .news-title {
    text-align: justify;
    margin-top: 4px;
}
.news-block .news-title a {
    color: #161616;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;    
}
.news-block .news-title a:hover {
    text-decoration: none;
}
.news-block .news-excerpt {
    margin-top: 11px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

.news-block .news-time {
    margin-top: 3px;
    color: #828282;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.product-list-title {
    background: #fff;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid-invi {
    display: none;
}
.gridItem img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

.grid {
    position: relative;
    margin: 0 auto;
}

.gridItem {
    overflow: hidden;
	background: #e0e0e0;
	box-sizing: border-box;
	position: absolute;
    border: 1px solid #e5e5e5;
}

.project-list-title {    
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    padding-left: 15px;
}

.gridSingleItem:hover .project-list-title-wrap {
    visibility: visible;
}

.arrow-right-white {
    background: url(../images/arrow-right-white.png) no-repeat; 
    width: 5px;
    height: 9px;
    position: absolute;
    right: 16px;
    top: 18px;
    display: inline-block;
}

.project-list-title-wrap {
    background: url(../images/title-opacity-bg.png) repeat;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    visibility: hidden;   
}
.status-block-content {
    background: url(../images/status-bg.png);
    padding-top: 10px;
}

.new-product-sticker {
    position: absolute;
    background: #000000;
    color: #FFF;
    padding: 6px 8px 6px 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    top: 9px;
    right: -7px;
}

.about-us-home {
    height: 450px;
    margin-top: 76px;
}

.arrow-down-sticker {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: #6B6A65 transparent transparent transparent;
    position: absolute;
    top: 33px;
    right: -6.5px;
}

.about-us-content {
    padding-left: 50px;
    padding-top: 90px;
}

.about-us-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    padding-bottom: 22px;
}

.about-us-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 23px;
}

.hover-product-zoom {
    visibility: hidden;
    background: url(../images/hover-product-zoom.png) no-repeat; 
    width: 24px;
    height: 24px;
    box-shadow: 3px 5.196px 7px 0px rgba( 0, 0, 0, 0.38 );
    -moz-box-shadow: 3px 5.196px 7px 0px rgba( 0, 0, 0, 0.38 );
    -webkit-box-shadow: 3px 5.196px 7px 0px rgba( 0, 0, 0, 0.38 );
    position: absolute;
    right: 11px;
    top: -34px;
}

.product-list-item {
    position: relative;
    text-align: center;
    display: block;
    border: 1px solid #e2e2e2;
    text-decoration: none;    
}

.product-list-container .single-product {
    padding-bottom: 20px;
}

.product-list-item:hover, .product-list-item:active {
    text-decoration: none;
    box-shadow: 3px 3px 16px rgba( 0, 0, 0, 0.25 );
    -moz-box-shadow: 3px 3px 16px rgba( 0, 0, 0, 0.25 );
    -webkit-box-shadow: 3px 3px 16px rgba( 0, 0, 0, 0.25 );
}

.status-block-content .status-title-line {
    background: #7f7f7f;
    display: inline-block;
    width: 47px;
    vertical-align: top;
    height: 1px;
    margin-top: 6px;
}

.status-block-content .status-excerpt {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #d8d8d8;
}

.status-block-content .status-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.status-block-content .status-link a {
    color: #959595;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.status-block-content .status-link a:hover {
    text-decoration: none;
}

.status-block-content .status-link {
    line-height: 43px;
}
.link-arrow {
    background: url(../images/link-arrow.png) no-repeat;
    width: 5px;
    height: 9px;   
    display: inline-block;
    margin-left: 6px;
}

.product-list-item:hover .hover-product-zoom, .product-list-item:active .hover-product-zoom {
    visibility: visible;
}

.product-list-item img {
    width: 200px;
    height: 150px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.product-list-item .product-detail h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.product-list-item .product-detail .sku-product-list {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.product-list-item .product-detail {
    border-top: 1px solid #e2e2e2;
    background: #f2f2f2;
    padding-top: 6px;
    padding-bottom: 9px;
    position: relative;
}

.why-ceramics-data {
    padding-top: 82px;
    width: 100%;
    text-align: center;
    min-height: 379px;
    margin-top: 65px;
}

.why-ceramics-data .counter-number {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 82px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    min-width: 150px;
}

.why-ceramics-data .counter-divider {
    height: 2px;
    width: 43px;
    display: block;
    margin: 0 auto;
    background-color: rgb( 255, 255, 255 );
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.why-ceramics-data .counter-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    padding-top: 22px;
    padding-bottom: 7px
}

.why-ceramics-data .counter-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #e8e8e8;
    line-height: 20px;
    padding: 0px 7% 15px 7%;
}

.contentblock-title {
    margin-left: 20px;
    margin-right: 20px;
}
.contentblock-title .normal-title, .contentblock-title .bold-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 0px;
}

.contentblock-title .normal-title {
    font-weight: 600;
}

.contentblock-title .bold-title {
    font-weight: 800;
}

.separate-horizontal-line {
    width: 77px;
    height: 1px;
    background: #b2b2b2;
    display: inline-block;
    float: left;
}

.contentblock-title {
    display: inline-block;
    float: left;
}

/* Effect 3: Scale up */
.effect-3 .animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 2: Move Up */
.effect-2 .animate {
	-webkit-transform: translateY(400px);
	transform: translateY(400px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


/*==========  Mobile First Method  ==========*/
/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {

}
